<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/departments.css" />
<% end %>
<div id="sidebar">
  <a href="<%= department_path(@department)%>"><img class="roundLogo onemanlogo" src="<%= @department.coverUrl %>" width="150px"></a><br>
  <div class = "onemanlogo">
       <center><div class="css_btn_class"><%= @department.name %>
      </div></center>
      <center><div class="css_btn_class"> <%= link_to '看看院系书单',department_booklists_path(@department) %>
      </div></center>
      <center><div class="css_btn_class">
        <%= link_to '阅读他人经验', department_reviews_path(@department) %>
      </div></center>
      <center><div class="css_btn_class">
          <%= link_to '观看院系视频', department_videos_path(@department) %>
      </div></center>
       <center><div class="css_btn_class"> <%= link_to '返回各系',departments_path %>
      </div></center>
  </div> 
</div>

<div id="rightblock">
    <div class = "centralFrame">

     <div class = "storyFrame">
        <img class="roundLogo" src="<%= @department.coverUrl %>" width="150px"><br>
        <strong> <%= @department.name %></strong>
         <div id="story"> <%= raw Kramdown::Document.new(@department.story).to_html %></div>
     </div>
    </div>
</div>
