<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/departments.css" />
   <link rel="stylesheet" type="text/css" href="/assets/welcome.css" />
<% end %>
<div id="sidebar">
  <img class="onemanlogo" src="<%= @department.coverUrl%>">
  <div class="onemanlogo">
  	万门大学<%= @department.name %>
  </div>
  <div class='onemanlogo'>
    <ul class="navigation">
      <li><a href="/">首页</a></li>
      <li><%= link_to @department.name+'经验贴', department_reviews_path(@department) %></li>
      <li><%= link_to @department.name+'万门视频', department_videos_path(@department) %></li>
      <li><%= link_to @department.name+'万门书单', department_booklists_path(@department) %></li>
    </ul>
  </div>
</div>
<div id="content">
    <div id="home">
    	<div class="centralFrame">
			<span class="parallaxbg">
				<p><%= @department.story%></p>
			</span>
		</div>
    </div>
</div>