<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/reviews/demo.css" />
   <link rel="stylesheet" type="text/css" href="/assets/reviews/style.css" />
   <script type="text/javascript" src="/assets/reviews/modernizr.custom.08464.js">
   </script>
<% end %>
<header class="main-title">
      <h1><%= @department.name+"经验贴" %></h1>
      <ul>
          <% @department.reviews.each do |review|%>
          <a href="<%=department_review_path(:id =>review.id)%>"><li><p><%= review.title %></p></li></a>
          <% end %>
      </ul>
    </header>
    
    <div id="flip" class="container">
    
      <div class="f-page f-cover">
        <div class="cover-elements">
          <div class="logo">
           <%= @department.name %>
            <a class="f-ref" href="http://www.flickr.com/photos/nasahqphoto/">图片来自 NASA HQ Photo</a>
          </div>
          <h1><%= link_to '系主页', department_path(@department) %></h1>
          <div class="f-cover-story"><span>图片故事</span>Shuttle Enterprise Flight to New York</div>
        </div>
        <div class="f-cover-flip">&lt; 翻页</div>
      </div>
      <% perPage=2
      for i in 0..@reviews.length/perPage %>
         <div class="f-page">
           <div class="f-title">
            <%= link_to '后退', :back %>
            <h2><%=@department.name+"经验贴" %></h2>
            <%= link_to '系主页', department_path(@department) %>
          </div>
          <% if (i==@reviews.length/perPage) 
                perPage=@reviews.length%perPage
             end
          for j in 1..perPage
          review=@reviews[i*perPage+j-1]%>
          <div class="box w-50">
          <h3><%= review.title %> <%= review.content.length %><%='字'%></h3>
          <%= raw Kramdown::Document.new(review.content).to_html %>
          <%= link_to "Detail",department_review_path(:id =>review.id) %>
          </div>
          <% end %>
         </div>
      <% end %>  
      <div class="f-page f-cover-back">
        <div id="codrops-ad-wrapper">
          
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript">
        
      var $container  = $( '#flip' ),
        $pages    = $container.children().hide();
      
      Modernizr.load({
        test: Modernizr.csstransforms3d && Modernizr.csstransitions,
        yep : ['/assets/reviews/jquery.tmpl.min.js','/assets/reviews/jquery.history.js','/assets/reviews/core.string.js','/assets/reviews/jquery.touchSwipe-1.2.5.js','/assets/reviews/jquery.flips.js'],
        nope: '/assets/reviews/fallback.css',
        callback : function( url, result, key ) {
          if( url === '/assets/reviews/fallback.css' ) {
            $pages.show();
          }
          else if( url === '/assets/reviews/jquery.flips.js' ) {
            $container.flips();
          }
      
        }
      });
    </script>
    <script id="pageTmpl" type="text/x-jquery-tmpl">
      <div class="${theClass}" style="${theStyle}">
        <div class="front">
          <div class="outer">
            <div class="content" style="${theContentStyleFront}">
              <div class="inner">{{html theContentFront}}</div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="outer">
            <div class="content" style="${theContentStyleBack}">
              <div class="inner">{{html theContentBack}}</div>
            </div>
          </div>
        </div>
      </div>      
    </script>