<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>
 
<p>
  <strong>Creator:</strong>
  <%= @review.creator %>
</p>
<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<h2>Comments</h2>
<%= render @review.comments %>
<h2>Leave a comment:</h2>
<%= render "comments/form" %>
